*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
body{
    background-color: rgb(246, 235, 235);
color: rgb(23, 18, 18);
}

.left{
    width: 25vw;
    padding: 10px;
    height: 100vh;
}
.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap:15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;


}
.library{
    min-height:80vh ;
  position: relative;  
}



.heading{

    display: flex;
    gap:15px;
    width: 100%;
    padding-top: 14px;
    font-size: 13px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
}
.heading img{
    width: 30px;
}
.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 9px 10px;
    
}
.footer a{
    color: gray;
    text-decoration: none;

}
.right{
    margin: 16px 0px;
}
.header{
    display: flex;
    justify-content: space-between;
 background-color: rgba(33, 31, 31, 0.681);
 max-height: 100vh;
 overflow: scroll;
}
.header > * {
    padding: 20px;
   
}
.spotiyplaylist{
padding: 16px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: scroll;

}
 .card{
    
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(57, 56, 56);
    position: relative;
    width:200px;
 }
 .card:hover{
    .play{
        opacity: 1;
        transform: translateY(-30px);
    }
 }
.card img{
    width: 100%;
object-fit: contain;
}
.play{
    width: 28px; height:28px; background-color:#0aa70a; border-radius:50%;  padding:6px; display: flex; justify-content: center; align-items: center;
    position:absolute;
 top:190px;
 right:17px;
 opacity: 0;
 transition: all 1s ease-out;

}

.play img{
    height: 12px;
}
.button  > *{
    margin: 0 12px;
}
.signupbtn{
 background-color: rgba(33, 31, 31, 0.681);
    color: gray;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;

}
.signupbtn:hover{
    font-size: 17px;
    color:white;
    cursor: pointer;
    
}
.loginbtn{
    background-color: white;
    border-radius:20px ;
    color: rgba(0, 0, 0, 0.389);
    padding:10px;
    width:79px;
    cursor: pointer;
}
.loginbtn:hover{
    color: black;
    font-weight: bold;
    width: 80px;
    font-size: 13px;
}
.right{
    position: relative;
    height: 100vh;
}
.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgba(17, 249, 83, 0.979);
    width: 100%;
    padding: 12px;
}
.songbtn{
    display: flex;
    justify-content: center;
    gap:20px
}
.songlist{
    overflow-y: auto;
    height: 60vh;
}
.songlist ul{
    padding:  0 12px;

}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;

width: 330px;
white-space: normal;
overflow-wrap: break-word  ;

}

.info{
    width: 125px;
    word-wrap: wrap;
}
.playnow{
    display: flex;
    justify-content: center;
align-items: center;

}
.playnow span{
    font-size: 15px;
    width: 88px;
    padding: 12px;
}
.seekbar{
    height: 6px;
    width: 98%;
    background-color: rgb(247, 244, 244);
    position: absolute;
    bottom: 0;
    border: 2px solid black;
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height:13px ;
    border-radius: 13px;
    background-color: rgb(251, 251, 251);
    position:relative;
    bottom: 6px;
    left:0%;
    transition:left 0.5s;
}
.songbtn{
    height: 40px;
    cursor: pointer;
}
.songinfo{
    font-size: smaller;
}

.player{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
}
.close{
    display: none;
position: relative;
left: 90%;
cursor: pointer;
}
.songinfo{
    width: 100px;
}
.songtime{
    width: 67px;
}
.volume,input
{cursor: pointer;
    
}
@media (max-width: 1400px) {
    .left{
        background-color: rgb(23, 23, 23);
        position: absolute;
        left: -120%;
        transition:  all 0.3s;
        z-index: 3;
        width: 363px;
        height: 100vh;
    
    }       
    .right{
width: 100vw;
height: 96vh;
    }
    .playbar{
width: 98vw;
    }
    .hamburger{
        display: flex;
        height: 40px;
        width: 40px;

    }
    .playbar{
        height: 8vh;
        width: 93vw;
    left:10px

    }
    .seekbar{
        width: 87vw;
    }
    .songbtn{
        height: 22px;
    }
    .songinfo{
        font-size: 10px;
    }
    .songtime{
        font-size: 10px;
        position: relative;
        right:-15px
    }
    .hamburgercont{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 12px;
    }
.close{
    display: flex;
}
    
}
@media (max-width: 500px){
.signupbtn{
    width: 110px;
    font-size: 10px;
}
.loginbtn{
    width: 117px;
    font-size: 12px;

}
.signupbtn:hover{
    width: 120px;
    font-size: 11px;
}
.loginbtn:hover{
    width: 120px;
    font-size: 11px;
}
.songinfo{
    font-size: 8px;
}
.songlist ul li{
    width: 300px;
    font-size: 10px;
}

    .card{
        left:10px;
        width: 90vw;

    }
    .cardContainer{
        margin: 0;
    }
    

}

